<!DOCTYPE html>
<html>

<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Stickers say it best">
    <meta name="keywords" content="Blinks, sticker, pack, author, tag">
    <meta name="author" content="Pinnacle Coding">

    <!--- Theme color on mobile --->
    <meta name="theme-color" content="#03A9F4">
    <meta name="msapplication-navbutton-color" content="#03A9F4">
    <meta name="apple-mobile-web-app-status-bar-style" content="#03A9F4">

    <!-- Title -->
    <title>Blinks &middot Authors</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <link rel="stylesheet" href="/static/css/style.css">

    <!-- JS -->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>

    <!-- Angular -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.2.5/ng-file-upload.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.2.5/ng-file-upload-shim.min.js"></script>
    <script src="/static/js/blinks.js"></script>
    <script src="/static/js/controllers/authors.js"></script>
</head>

<body ng-app="Blinks" ng-controller="authorsController">
    <div class="navbar-fixed">
        <nav class="blue darken-1">
            <div class="nav-wrapper">
                <a href="/" class="brand-logo blinks-logo">Blinks Dashboard</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/authors">Authors</a></li>
                    <li><a href="/packs">Packs</a></li>
                    <li><a href="/stickers">Stickers</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container top-container" ng-cloak ng-hide="loading">
        <div class="row center">
            <ul class="pagination">
                <li ng-class="{disabled: (page_current === 1), 'waves-effect': (page_current !== 1)}"><a href="#!" ng-click="previousPage()"><i class="material-icons">chevron_left</i></a></li>
                <li ng-repeat="page in pagination" ng-class="{active: (page_current === page), 'waves-effect': (page_current !== page)}"><a href="#!" ng-click="setPage(page)">{{page}}</a></li>
                <li class="waves-effect"><a href="#!" ng-click="nextPage()"><i class="material-icons">chevron_right</i></a></li>
            </ul>
        </div>
        <div class="row">
            <div class="col s12 m6" ng-repeat="author in authors" ng-show="authors && authors.length">
                <div class="card">
                    <div class="card-content blue-text text-darken-2 center">
                        <img ng-src="{{author.image}}" class="circle profile-image">
                        <br>
                        <span class="card-title center-align">{{author.name}}</span>
                        <p ng-show="author.location">{{author.location}}</p>
                        <p ng-hide="author.location">Location not specified</p>
                        <br>
                        <p><b>{{author.packs.length}} packs</b></p>
                    </div>
                </div>
            </div>
            <div class="col s12" ng-hide="authors && authors.length">
                <div class="card">
                    <div class="card-content red-text text-darken-2 center">
                        <span class="card-title center-align">No more authors!</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row center">
            <ul class="pagination">
                <li ng-class="{disabled: (page_current === 1), 'waves-effect': (page_current !== 1)}"><a href="#!" ng-click="previousPage()"><i class="material-icons">chevron_left</i></a></li>
                <li ng-repeat="page in pagination" ng-class="{active: (page_current === page), 'waves-effect': (page_current !== page)}"><a href="#!" ng-click="setPage(page)">{{page}}</a></li>
                <li class="waves-effect"><a href="#!" ng-click="nextPage()"><i class="material-icons">chevron_right</i></a></li>
            </ul>
        </div>
    </div>
</body>

</html>
