<!DOCTYPE html>
<html>
<head>
    <title>Blinks &middot Dashboard</title>
</head>
<body>
    <form action="/api/stickers" method="POST" enctype="multipart/form-data">
        <label for="stickerName">Name</label>
        <input type="text" name="name" id="stickerName"/>
        <br>
        <label for="stickerPack">Pack Name</label>
        <input type="text" name="pack" id="stickerPack"/>
        <br>
        <label for="stickerTags">Tags <i>(separated by comma)</i></label>
        <input type="text" name="tags" id="stickerTags"/>
        <br>
        <input type="file" name="sticker" id="stickerFile"/>
        <br>
        <button type="submit">Submit Sticker</button>
    </form>
</body>
</html>
