<!DOCTYPE html>
<html>

<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Stickers say it best">
    <meta name="keywords" content="Blinks, sticker, pack, author, tag">
    <meta name="author" content="Pinnacle Coding">

    <!--- Theme color on mobile --->
    <meta name="theme-color" content="#03A9F4">
    <meta name="msapplication-navbutton-color" content="#03A9F4">
    <meta name="apple-mobile-web-app-status-bar-style" content="#03A9F4">

    <!-- Title -->
    <title>Blinks &middot Dashboard</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <link rel="stylesheet" href="/static/css/style.css">

    <!-- JS -->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>

    <!-- Angular -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
    <script src="/static/js/blinks.js"></script>
    <script src="/static/js/controllers/dashboard.js"></script>
</head>

<body ng-app="Blinks" ng-controller="dashboardController">
    <div class="container">
        <div class="row">
            <div class="col m12">
                <div class="card">
                    <div class="card-content blue-text text-darken-2">
                        <span class="card-title">Add Author</span>
                        <form>

                        </form>
                    </div>
                    <div class="card-action">
                        <a href="#">View all authors</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col m12">
                <div class="card">
                    <div class="card-content blue-text text-darken-2">
                        <span class="card-title">Add Pack</span>
                        <form>

                        </form>
                    </div>
                    <div class="card-action">
                        <a href="#">View all packs</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col m12">
                <div class="card">
                    <div class="card-content blue-text text-darken-2">
                        <span class="card-title">Add Sticker</span>
                        <form enctype="multipart/form-data" ng-submit="addSticker()">
                            <div class="row">
                                <div class="input-field col m12">
                                    <label for="stickerName">Name</label>
                                    <input type="text" ng-model="sticker.name" id="stickerName" required>
                                </div>
                                <div class="input-field col m12">
                                    <label for="stickerPack">Pack Name</label>
                                    <input type="text" ng-model="sticker.pack" id="stickerPack" required>
                                </div>
                                <div class="input-field col m12">
                                    <label for="stickerTags">Tags</label>
                                    <input type="text" ng-model="sticker.tags" id="stickerTags" required>
                                    <p><i>separated by commas</i></p>
                                </div>
                                <div class="file-field input-field col m12">
                                    <div class="btn blue darken-4">
                                        <span>Sticker Image</span>
                                        <input type="file" ng-model="sticker.sticker" required>
                                    </div>
                                    <div class="file-path-wrapper">
                                        <input class="file-path validate" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col m12">
                                    <button type="submit" class="waves-effect waves-light btn center blue darken-4">Submit Sticker</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="card-action">
                        <a href="#">View all stickers</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
