<!DOCTYPE html>
<html>

<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Stickers say it best">
    <meta name="keywords" content="Blinks, sticker, pack, author, tag">
    <meta name="author" content="Pinnacle Coding">

    <!--- Theme color on mobile --->
    <meta name="theme-color" content="#03A9F4">
    <meta name="msapplication-navbutton-color" content="#03A9F4">
    <meta name="apple-mobile-web-app-status-bar-style" content="#03A9F4">

    <!-- Title -->
    <title>Blinks &middot Dashboard</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <link rel="stylesheet" href="/static/css/style.css">

    <!-- JS -->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>

    <!-- Angular -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.2.5/ng-file-upload.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.2.5/ng-file-upload-shim.min.js"></script>
    <script src="/static/js/blinks.js"></script>
    <script src="/static/js/controllers/dashboard.js"></script>
</head>

<body ng-app="Blinks" ng-controller="dashboardController">
    <div class="navbar-fixed">
        <nav class="blue darken-1">
            <div class="nav-wrapper">
                <a href="/" class="brand-logo blinks-logo">Blinks Dashboard</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/authors">Authors</a></li>
                    <li><a href="/packs">Packs</a></li>
                    <li><a href="/stickers">Stickers</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container top-container">
        <div class="row">
            <div class="col m12">
                <div class="card">
                    <div class="card-content blue-text text-darken-2 center">
                        <span class="card-title">Add Author</span>
                        <form ng-submit="addAuthor()">
                            <div class="row">
                                <div class="input-field col m12">
                                    <label for="authorName">Name</label>
                                    <input type="text" ng-model="author.name" id="authorName" required>
                                </div>
                                <div class="input-field col m12">
                                    <label for="authorUsername">Username</label>
                                    <input type="text" ng-model="author.username" id="authorUsername" required>
                                </div>
                                <div class="input-field col m12">
                                    <label for="authorLocation">Location</label>
                                    <input type="text" ng-model="author.location" id="authorLocation">
                                </div>
                                <div class="file-field input-field col m12">
                                    <div class="btn blue darken-4">
                                        <span>Profile Image</span>
                                        <input type="file" ng-model="author.avatar" ngf-select ngf-accept="'image/*'" ngf-pattern="'.png,.jpg'">
                                    </div>
                                    <div class="file-path-wrapper">
                                        <input class="file-path validate" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col m12">
                                    <button type="submit" class="waves-effect waves-light btn blue darken-4" ng-disabled="uploading">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="card-action">
                        <a href="/authors">View all authors</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col m12">
                <div class="card">
                    <div class="card-content blue-text text-darken-2 center">
                        <span class="card-title">Add Pack</span>
                        <form ng-submit="addPack()">
                            <div class="row">
                                <div class="input-field col m12">
                                    <label for="packName">Name</label>
                                    <input type="text" ng-model="pack.name" id="packName" required>
                                </div>
                                <div class="input-field col m12">
                                    <label for="packAuthor">Author</label>
                                    <input type="text" ng-model="pack.author" id="packAuthor" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col m12">
                                    <button type="submit" class="waves-effect waves-light btn blue darken-4" ng-disabled="uploading">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="card-action">
                        <a href="/packs">View all packs</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col m12">
                <div class="card">
                    <div class="card-content blue-text text-darken-2 center">
                        <span class="card-title">Add Sticker</span>
                        <form ng-submit="addSticker()">
                            <div class="row">
                                <div class="input-field col m12">
                                    <label for="stickerName">Name</label>
                                    <input type="text" ng-model="sticker.name" id="stickerName" required>
                                </div>
                                <div class="input-field col m12">
                                    <label for="stickerPack">Pack</label>
                                    <input type="text" ng-model="sticker.pack" id="stickerPack" required>
                                </div>
                                <div class="input-field col m12">
                                    <label for="stickerTags">Tags (list with commas)</label>
                                    <input type="text" ng-model="sticker.tags" id="stickerTags" required>
                                </div>
                                <div class="file-field input-field col m12">
                                    <div class="btn blue darken-4">
                                        <span>Sticker Image</span>
                                        <input type="file" ng-model="sticker.sticker" ngf-select ngf-accept="'image/*'" ngf-pattern="'.png,.jpg'" required>
                                    </div>
                                    <div class="file-path-wrapper">
                                        <input class="file-path validate" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col m12">
                                    <button type="submit" class="waves-effect waves-light btn blue darken-4" ng-disabled="uploading">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="card-action">
                        <a href="/stickers">View all stickers</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
