<html>

<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Stickers say it best">
    <meta name="keywords" content="Blinks, sticker, pack, author, tag">
    <meta name="author" content="Pinnacle Coding">

    <!--- Theme color on mobile --->
    <meta name="theme-color" content="#B71C1C">
    <meta name="msapplication-navbutton-color" content="#B71C1C">
    <meta name="apple-mobile-web-app-status-bar-style" content="#B71C1C">

    <!-- Title -->
    <title>Blinks</title>

    <!-- Favicon -->
    <!-- link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon" -->

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <link rel="stylesheet" href="/static/css/maintenance.css">
</head>

<body class="center">
    <a href="http://pinnaclecoding.co" target="_blank"><img src="/static/img/pinnacle.png" class="logo"></a>
    <h1>Under Maintenance</h1>
    <h5>This site is still under construction by <i>trained</i> monkeys. Just leave it to us.</h5>

    <!-- JS -->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
</body>

</html>
