<!DOCTYPE html>
<html>

<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Stickers say it best">
    <meta name="keywords" content="Blinks, sticker, pack, author, tag">
    <meta name="author" content="Pinnacle Coding">

    <!--- Theme color on mobile --->
    <meta name="theme-color" content="#03A9F4">
    <meta name="msapplication-navbutton-color" content="#03A9F4">
    <meta name="apple-mobile-web-app-status-bar-style" content="#03A9F4">

    <!-- Title -->
    <title>Blinks &middot Packs</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <link rel="stylesheet" href="/static/css/style.css">

    <!-- JS -->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>

    <!-- Angular -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.2.5/ng-file-upload.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.2.5/ng-file-upload-shim.min.js"></script>
    <script src="/static/js/blinks.js"></script>
    <script src="/static/js/controllers/packs.js"></script>
</head>

<body ng-app="Blinks" ng-controller="packsController">
    <div class="navbar-fixed">
        <nav class="blue darken-1">
            <div class="nav-wrapper">
                <a href="/" class="brand-logo blinks-logo">Blinks Dashboard</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/authors">Authors</a></li>
                    <li><a href="/packs">Packs</a></li>
                    <li><a href="/stickers">Stickers</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container top-container" ng-cloak>
        <div ng-repeat="pack in packs">
            <div class="row">
                <div class="col m12">
                    <div class="card">
                        <div class="card-content blue-text text-darken-2">
                            <span class="card-title center-align">{{pack.name}}</span>
                            <p>By {{pack.author.name}}</p>
                        </div>
                        <div class="card-action">
                            <img class="pack-inline-image" ng-src="{{sticker.image}}" ng-repeat="sticker in pack.stickers | limitTo:8">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
