[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

body {
    background-color: #bbdefb;
}

@media (min-width:961px) {
    .blinks-logo {
        margin-left: 1em;
    }
}

.top-container {
    margin-top: 3em;
}

.pack-inline-images {
    display: inline;
    list-style-type: none;
}

.pack-inline-image {
    max-width: 60px;
    height: auto;
    padding-right: 20px;
}
