<div class="container top-container">
    <div class="row">
        <div class="col m12">
            <div class="card">
                <div class="card-content blue-text text-darken-2 center">
                    <span class="card-title">Add Author</span>
                    <form ng-submit="addAuthor()">
                        <div class="row">
                            <div class="input-field col m12">
                                <label for="authorName">Name</label>
                                <input type="text" ng-model="author.name" id="authorName" required>
                            </div>
                            <div class="input-field col m12">
                                <label for="authorUsername">Username</label>
                                <input type="text" ng-model="author.username" id="authorUsername" required>
                            </div>
                            <div class="input-field col m12">
                                <label for="authorLocation">Location</label>
                                <input type="text" ng-model="author.location" id="authorLocation">
                            </div>
                            <div class="file-field input-field col m12">
                                <div class="btn blue darken-4">
                                    <span>Profile Image</span>
                                    <input type="file" ng-model="author.avatar" ngf-select ngf-accept="'image/*'" ngf-pattern="'image/*'">
                                </div>
                                <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text">
                                </div>
                            </div>
                            <div class="input-field col m12">
                                <label for="authorPassword">Password</label>
                                <input type="password" ng-model="author.password" id="authorPassword" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col m12">
                                <button type="submit" class="waves-effect waves-light btn blue darken-4" ng-disabled="uploading">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-action">
                    <a ui-sref="blinks.authors">View all authors</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col m12">
            <div class="card">
                <div class="card-content blue-text text-darken-2 center">
                    <span class="card-title">Add Pack</span>
                    <form ng-submit="addPack()">
                        <div class="row">
                            <div class="input-field col m12">
                                <label for="packName">Name</label>
                                <input type="text" ng-model="pack.name" id="packName" required>
                            </div>
                            <div class="input-field col m12">
                                <label for="packAuthor">Author</label>
                                <input type="text" ng-model="pack.author" id="packAuthor" required>
                            </div>
                            <div class="input-field col m12">
                                <label for="packPassword">Password</label>
                                <input type="password" ng-model="pack.password" id="packPassword" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col m12">
                                <button type="submit" class="waves-effect waves-light btn blue darken-4" ng-disabled="uploading">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-action">
                    <a ui-sref="blinks.packs">View all packs</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col m12">
            <div class="card">
                <div class="card-content blue-text text-darken-2 center">
                    <span class="card-title">Add Sticker</span>
                    <form ng-submit="addSticker()">
                        <div class="row">
                            <div class="input-field col m12">
                                <label for="stickerPack">Pack</label>
                                <input type="text" ng-model="sticker.pack" id="stickerPack" required>
                            </div>
                            <div class="input-field col m12">
                                <label for="stickerTags">Tags (list with commas)</label>
                                <input type="text" ng-model="sticker.tags" id="stickerTags" required>
                            </div>
                            <div class="file-field input-field col m12">
                                <div class="btn blue darken-4">
                                    <span>Sticker Image</span>
                                    <input type="file" ng-model="sticker.sticker" ngf-select ngf-accept="'image/*'" ngf-pattern="'image/*'" required>
                                </div>
                                <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text">
                                </div>
                            </div>
                            <div class="input-field col m12">
                                <label for="stickerPassword">Password</label>
                                <input type="password" ng-model="sticker.password" id="stickerPassword" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col m12">
                                <button type="submit" class="waves-effect waves-light btn blue darken-4" ng-disabled="uploading">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-action">
                    <a ui-sref="blinks.stickers">View all stickers</a>
                </div>
            </div>
        </div>
    </div>
</div>
