<div class="navbar-fixed">
    <nav class="blue darken-1">
        <div class="nav-wrapper">
            <a href="/" class="brand-logo blinks-logo">Blinks Dashboard</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a ui-sref="blinks.authors">Authors</a></li>
                <li><a ui-sref="blinks.packs">Packs</a></li>
                <li><a ui-sref="blinks.stickers">Stickers</a></li>
            </ul>
        </div>
    </nav>
</div>
<div ui-view="content"></div>
